
<div class="wrapper">
  <header class="main-head">
    <div id="nav-left"><span style="color:orange">LOVE</span><span style="color:grey">ME</span>SEXY</div>
    <div id="nav-right">
      <ul class='nav-ul'>
        <li class="text-li">
          <input type="text"/>
        </li>
        <li class='nav-li'><a href="#">
          <i class="material-icons md-18 icon-blue">search</i>&nbsp;&nbsp;Search
        </a>
        </li>
        <li class='nav-li'><a href="#">
          <i class="material-icons icon-blue">account_circle</i>  Sign up
        </a>
        </li>
        <li class='nav-li'><a href="#">
          <i class="material-icons icon-blue">face</i><span style="margin-left:10px;margin-right:10px">Login</span>
        </a>

        </li>
        <li class='nav-li'><a href="#">
         <i class="material-icons icon-blue">shopping_cart</i><span style="margin-left:10px;margin-right:10px">Your cart(0)</span>
        </a>

        </li>
      </ul>

    </div>
  </header>
  <nav class="main-nav">
    <div>SEX TOYS</div>
    <div>|</div>
    <div>COCK RINGS</div>
    <div>|</div>
    <div>DILDOS</div>
    <div>|</div>
    <div>ANAL TOYS</div>
  </nav>
  <section class="main-adv">
  </section>
  <main class="main-display">
    <div class="main-items">
      <div class="items-header">Sex Toys</div>
      <div class="items-filter">
        <div style="float:left; font-size: 22px;">
          <i class="fas fa-grip-horizontal"></i> &nbsp;  <i class="fas fa-list" id="showdiv2" aria-hidden="true"></i>
        </div>
        <div style="display:flex;float:right;margin-top:10px;">
          <div>Sort by:</div>
          <div style="margin-left:20px">
          <select name="cars" id="cars" style="width:300px">
            <option value="volvo">Price, low to high</option>
            <option value="saab">Price, high to low</option>
            <option value="mercedes">Date, old to new</option>
            <option value="audi">Date, new to old</option>
            <option value="audi">Sale</option>
            <option value="audi">New arrivals only</option>
          </select>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="card">
          <div class="card__img"></div>
          <div class="card__body">
            <h3 class="card__title">Vinta Backpack</h3>
            <p class="card__desc">Heritage style meets modern aesthetics</p>
          </div>
          <div class="card__footer">
            <div class="card__price">
              $125.00
            </div>
            <div class="card__buy">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="card">
          <div class="card__img"></div>
          <div class="card__body">
            <h3 class="card__title">Vinta Backpack</h3>
            <p class="card__desc">Heritage style meets modern aesthetics</p>
          </div>
          <div class="card__footer">
            <div class="card__price">
              $125.00
            </div>
            <div class="card__buy">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="card">
          <div class="card__img"></div>
          <div class="card__body">
            <h3 class="card__title">Vinta Backpack</h3>
            <p class="card__desc">Heritage style meets modern aesthetics</p>
          </div>
          <div class="card__footer">
            <div class="card__price">
              $125.00
            </div>
            <div class="card__buy">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="card">
          <div class="card__img"></div>
          <div class="card__body">
            <h3 class="card__title">Vinta Backpack</h3>
            <p class="card__desc">Heritage style meets modern aesthetics</p>
          </div>
          <div class="card__footer">
            <div class="card__price">
              $125.00
            </div>
            <div class="card__buy">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="card">
          <div class="card__img"></div>
          <div class="card__body">
            <h3 class="card__title">Vinta Backpack</h3>
            <p class="card__desc">Heritage style meets modern aesthetics</p>
          </div>
          <div class="card__footer">
            <div class="card__price">
              $125.00
            </div>
            <div class="card__buy">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="card">
          <div class="card__img"></div>
          <div class="card__body">
            <h3 class="card__title">Vinta Backpack</h3>
            <p class="card__desc">Heritage style meets modern aesthetics</p>
          </div>
          <div class="card__footer">
            <div class="card__price">
              $125.00
            </div>
            <div class="card__buy">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="card">
          <div class="card__img"></div>
          <div class="card__body">
            <h3 class="card__title">Vinta Backpack</h3>
            <p class="card__desc">Heritage style meets modern aesthetics</p>
          </div>
          <div class="card__footer">
            <div class="card__price">
              $125.00
            </div>
            <div class="card__buy">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="items-pagination">
        <nav data-pagination>
          <a href=# disabled><i class='fa fa-chevron-left'></i></a>
          <ul>
            <li class=current><a href=#1>1</a>
            <li><a href=#2>2</a>
            <li><a href=#3>3</a>
            <li><a href=#4>4</a>
            <li><a href=#5>5</a>
            <li><a href=#6>6</a>
            <li><a href=#7>7</a>
            <li><a href=#8>8</a>
            <li><a href=#9>9</a>
            <li><a href=#10>…</a>
            <li><a href=#41>41</a>
          </ul>
          <a href=#2><i class='fa fa-chevron-right'></i></a>
        </nav>
      </div>
    </div>
  </main>
  <footer class="footer" id="footer">

  <span class="col">
    <h3 class="col-title">Info</h3>
    <nav class="col-list">
      <ul>
        <li><a href="#">Formats</a></li>
        <li><a href="#">Compression</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Status</a></li>
      </ul>
    </nav>
  </span>

    <span class="col">
    <h3 class="col-title">Resources</h3>
    <nav class="col-list">
      <ul>
        <li><a href="#">Developer API</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>
  </span>

    <span class="col">
    <h3 class="col-title">Company</h3>
    <nav class="col-list">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Sustainability</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </nav>
  </span>

    <span class="col">
    <div class="subscribe-form-holder">
      <h3 class="form-title">Subscribe to our email newsletter</h3>
      <form action="#" onsubmit="return false" class="subscribe-form">
        <input type="email" name="email" id="email" class="email subscribe-input" autocomplete="off" placeholder="Your email">
        <button type="submit" class="subscribe-btn">Subscribe</button>
      </form>
    </div>
    <div class="social-media">
      <h3 class="social-col-title">Follow us</h3>
      <ul class="social-media-list">
        <li><a href="#" class="facebook"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
              <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
            </svg></a></li>
        <li><a href="#" class="twitter"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
              <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
            </svg></a></li>
        <li><a href="#" class="instagram"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
              <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
            </svg></a></li>
      </ul>
    </div>
  </span>

  </footer>
</div>
