/* Layout */

// COLORS
$primary: #424c3d;
$text: #252923;
$border: #928c8c;

.wrapper {
    display:grid;
    min-width: 700px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(80px,auto);
}
.main-head {
  grid-column: 1/-1;
}
.main-nav {
  grid-column:2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  text-align:center;
  font-size:26px;
  font-weight: bold;
}
.main-adv {
  grid-column: 1/-1;
  grid-row: 3/10;
  background-image: url("/assets/images/men.jpg");
}

.main-display{
  grid-column: 2/3;
}

.main-items{
   display:grid;
   min-width: 400px;
   grid-template-columns: repeat(4,1fr);
   grid-auto-rows: minmax(30px,auto);
   grid-column-gap:10px;
   grid-row-gap:10px;
}
.items-header{
  margin-top:20px;
  font-size:24px;
  font-weight:bold;
  text-align:center;
  grid-column: 1/-1;
}
.items-filter{
  margin-bottom: 15px;
  grid-column: 1/-1;
}
.items{
}
.items-pagination{
  grid-column: 1/-1;
   text-align:center;
}

.main-footer {
  grid-column: 1/-1;
}

nav ul {
     flex-direction: column;
}
#nav-left {
    font-weight: bold;
    font-size: 28px;
    padding: 17px;
    float:left;

}
#nav-right {
    float:right;
}
.nav-li {
    padding: 0px 10px;
    display:inline-block;
}
a {
    color:black;
    text-decoration:none;
}
i.icon-blue {
    color: black;
    display: inline-flex;
    vertical-align: top;
    font-size: 24px;
}
.text-li{
 display: inline-flex;
    vertical-align: top;
}
//product card
.card {
  background: #fff;
  border: 2px solid $border;
  border-radius: 8px;
  transition: all 300ms ease;

  &:hover {
    transform: scale(1.008) translateY(-5px);
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.15), 0 1px 2px 0 rgba(0,0,0,.16);
  }

  &__img {
    background-image: url(https://images.unsplash.com/photo-1547949003-9792a18a2601?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    height: 220px;
    background-size: cover;
    background-position: 50% 70%;
  }

  &__body {
    padding: 20px 32px 0;
  }

  &__color-picker {
    display: flex;

    & span {
      height: 25px;
      width:  25px;
      border-radius: 150px;
      display: inline-block;
      border: 2px solid #fff;
      position: relative;
      transition: all 100ms ease;

      &:hover {
        transform: scale(1.09);
      }
    }

    & span:first-child {
      background: #c4807d;
    }

    & span:nth-child(2) {
      background: #6c7464;
      left: -8px;
    }

    & span:last-child {
      background: #000;
      left: -18px;
    }
  }

  &__title {
    color: $text;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__description {

  }

  &__footer {
    padding: 10px 32px 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__buy {
    background: $primary;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 150ms ease;
    display: flex;
    align-items: center;

    & i {
      font-size: 12px;
      margin-left: 8px;
      transition: all 200ms ease;
    }

    &:hover {
      cursor: pointer;
      background: darken($primary, 5%);
    }

    &:hover i {
      transform: translateX(2px);
    }
  }
}
// pagination section
[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
[data-pagination] {
  font-size: 8pt;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  transition: font-size .2s ease-in-out;
}
[data-pagination] ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
}
[data-pagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
}
[data-pagination] > a {
  font-size: 140%;
}
[data-pagination] a {
  color: #777;
  font-size: 100%;
  padding: .5em;
}
[data-pagination] a:focus,
[data-pagination] a:hover {
  color: #f60;
}
[data-pagination] li.current {
  background: rgba(0,0,0,.1)
}
/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
  opacity: .5;
  pointer-events: none;
}
@media (min-width: 350px) {
  [data-pagination] {
    font-size: 10pt;
  }
}
@media (min-width: 500px) {
  [data-pagination] {
    font-size: 12pt;
  }
}
@media (min-width: 700px) {
  [data-pagination] {
    font-size: 14pt;
  }
}
@media (min-width: 900px) {
  [data-pagination] {
    font-size: 16pt;
  }
}


//footer

  $footer-bg: #ccc;
  $color: #f2f3fb;
  $color-smooth: #9da2ae;
  $input-border: #3a456a;
  $btn-bg-color: #f1f2fc;
  $btn-hover-bg: #d5d9f6;
  $btn-color: #1e2641;


footer {
  font-size: 16px;
  background: $footer-bg;
  padding: 2em 4em;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1em;
  grid-column: 1/-1;
}

footer ul {
  list-style: none;
}

.col {
  flex: 1;
}

.col-title {
  font-family: "Merriweather", serif;
  color: $color;
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.5em 0;
}

.col-list a {
  color: $color-smooth;
  text-decoration: none;
  line-height: 1.4;
  font-weight: 400;
}

.col-list a:hover,
.col-list a:focus {
  text-decoration: underline;
}

.subscribe-form,
.social-media {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 0;
}

.subscribe-input {
  width: auto;
  flex: 1;
  background: transparent;
  border: 0.06em solid $input-border;
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: $color-smooth;
}

.subscribe-input:focus {
  outline: none;
  border-color: $color;
  color: $color;
}

.subscribe-btn {
  background: $btn-bg-color;
  border: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: $btn-color;
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background: $btn-hover-bg;
}

.form-title,
.social-col-title {
  font-size: 1em;
  color: $color;
  font-weight: 500;
}

.social-media {
  flex-direction: column;
}

.social-media-list {
  display: flex;
  gap: 0.5rem;
}

.social-media-list a {
  padding: 0.5em;
  color: $color-smooth;
  display: flex;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
}

.social-media-list a:hover,
.social-media-list a:focus {
  color: $color;
  background: #ffffff1a;
}

.social-media-list svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.25s ease 0s;
}

@media screen and (max-width: 750px) {
  footer {
    padding: 2em;
    flex-direction: column;
  }
}
